pip
Kivy
kivymd
pyinstaller
PyAudio
pyttsx3
Pillow
wheel
docutils
Jinja2
Pygments
numpy
requests
pywin32
certifi
idna
urllib3
setuptools
cmake
dlib
face_recognition
SpeechRecognition
opencv-python
pymongo
cvzone


